<article *ngIf="!editFlag">
  <section class="col-md-4 mx-auto mt-2">Department
      <select [(ngModel)]="dname" (change)="searchByDept()">
          <option value="">--select dept--</option>
          <option *ngFor="let d of depts" value="{{d.deptName}}">{{d.deptName}}</option>
      </select>
  </section>
  <div class="col-md-4 mx-auto alert alert-success" *ngIf="msg != undefined">{{msg}}</div>
  <table class="table table-primary table-striped table-hover col-md-8 mx-auto mt-3" *ngIf="employees.length>=1">
    <tr>
      <th>Emp ID</th>
      <th>Emp Name</th>
      <th>Salary</th>
      <th>Dept</th>
      <th>Doj</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let emp of employees">
      <td>{{emp.empId}}</td>
      <td>{{emp.empName | titlecase}}</td>
      <td>{{emp.empSal | currency:'INR'}}</td>
      <td>{{emp.dept.deptName | titlecase}}</td>
      <td>{{emp.strDoj}}</td>
      <td><a class="btn btn-danger text-while" (click)="deleteById(emp.empId,emp.dept)">Delete</a></td>
      <td><a class="btn btn-warning text-while" (click)="showEdit(emp)">Edit</a></td>
    </tr>
  </table>
</article>
<section class="col-md-4 mx-auto" *ngIf="editFlag">
  <h2 class="text-center">Edit Employee</h2>
  <div class="alert alert-success" *ngIf="msg != undefined">{{msg}}</div>
  <div class="alert alert-danger" *ngIf="errorMsg != undefined">{{errorMsg}}</div>
  <form #frm="ngForm" (ngSubmit)="editEmp()">
     <div>Employee ID</div>
     <div><input type="number" name="eid" [(ngModel)]="emp.empId" required #modeleid="ngModel"class="form-control" readonly/></div>

     <div>Employee Name</div>
     <div><input type="text" name="ename"  [(ngModel)]="emp.empName" required #mlename="ngModel"class="form-control"/></div>
     <div class="alert alert-danger" *ngIf="mlename.invalid && mlename.touched">Employee Name is required</div>

     <div>Salary</div>
     <div><input type="number" name="sal"  [(ngModel)]="emp.empSal" required #mlsal="ngModel"class="form-control"/></div>
     <div class="alert alert-danger" *ngIf="mlsal.invalid && mlsal.touched">Salary is required</div>

     <div>Department</div>
     <div><select [(ngModel)]="emp.dept.deptId" name="dept" #mldept="ngModel" class="form-control">
              <option value="">--select dept--</option>
              <option *ngFor="let d of depts" value="{{d.depId}}">{{d.deptName}}</option>
     </select></div>
     <div class="alert alert-danger" *ngIf="mldept.invalid && mldept.touched">Department is required</div>

     <div>DOJ</div>
     <div><input type="date" name="doj"  [(ngModel)]="emp.doj" required #mldoj="ngModel"class="form-control"/></div>
     <div class="alert alert-danger" *ngIf="mldoj.invalid && mldoj.touched">DOJ is required</div>
     <div class="mt-2 text-center"><input type="submit" value="Edit Employee" [disabled]="!frm.valid" class="btn btn-danger"/></div>
  </form>
</section>