<section class="col-md-4 mx-auto">
  <h2 class="text-center">Add Account</h2>
  <div class="alert alert-success" *ngIf="msg != undefined">{{msg}}</div>
  <div class="alert alert-danger" *ngIf="errorMsg != undefined" [innerHTML]="errorMsg"></div>
  <form #frm="ngForm" (ngSubmit)="addAccount()">
    <div>Account ID</div>
    <div><input type="number" name="aid" [(ngModel)]="account.accId" required #modelaid="ngModel" class="form-control"></div>
    <div class="alert alert-danger" *ngIf="modelaid.invalid && modelaid.touched">Account ID is required</div>

    <div>Employee Name</div>
    <div><input type="text" name="cname" [(ngModel)]="account.custName" required #mlcname="ngModel" class="form-control"></div>
    <div class="alert alert-danger" *ngIf="mlcname.invalid && mlcname.touched">Customer Name is required</div>

    <div>Balance</div>
    <div><input type="number" name="bal" [(ngModel)]="account.balance" required #mlbal="ngModel" class="form-control"></div>
    <div class="alert alert-danger" *ngIf="mlbal.invalid && mlbal.touched">Balance is required</div>

    <div class="mt-2 text-center"><input type="submit" value="Add Account" [disabled]="!frm.valid" class="btn btn-danger"/></div>
  </form>
</section>
